<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
<ion-content class="profile">
  <!-- <ion-icon name="person" size="large"></ion-icon> -->
  <ion-avatar>
    <img src="../../../assets/images/cat.png">
  </ion-avatar>

  <div class="profile-info">
    <div class="name"><h1>{{ name }}</h1></div>
    <div class="info">
      <p><b>Age:</b> {{ age }}</p>
      <p><b>Weight:</b> {{ weight }} lbs</p>
      <p><b>Height:</b> {{ height }}</p>
      <p><b>Fitness Level:</b> {{ fitnessLevel }}</p>
      <p><b>Steps:</b> {{ steps }}</p>
      <p><b>Calories Burned:</b> {{ calories }} kcal</p>
    </div>
  </div>

</ion-content>
</ion-content>
