<ion-header>
  <ion-toolbar>
    <ion-title>Schedule Routine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button [routerLink]="['/']">Back</ion-button> -->
  <h1>What days are you free?</h1>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <h1>What times are you free?</h1>
  <ion-item>
    <ion-label>start time</ion-label>
    <ion-datetime displayFormat="hh:mm a"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>end time</ion-label>
    <ion-datetime displayFormat="hh:mm a"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Focus</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="arms">Arms</ion-select-option>
      <ion-select-option value="legs">Legs</ion-select-option>
      <ion-select-option value="core">Abdominals</ion-select-option>
      <ion-select-option value="core">Chest</ion-select-option>
      <ion-select-option value="core">Back</ion-select-option>
      <ion-select-option value="core">Shoulders</ion-select-option>
      <ion-select-option value="core">Calves</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button [routerLink]="['/']" color="danger">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-button [routerLink]="['/']" color="success"> 
    <!-- success button is stub TODO: add action to button -->
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>
  

</ion-content>
