<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendar
    </ion-title>
  </ion-toolbar>
  <button [routerLink]="['/search']">Add Exercise</button>
  <!-- <ion-navbar> -->
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons end>
        <button ion-button [disabled]="isToday" (click)="today()">Today</button>
        <button ion-button (click)="changeMode('month')">M</button>
        <button ion-button (click)="changeMode('week')">W</button>
        <button ion-button (click)="changeMode('day')">D</button>
        <button ion-button (click)="loadEvents()">Load Events</button>
    </ion-buttons>
  <!-- </ion-navbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">
  </calendar>
  <!-- <calendar></calendar> -->
  
</ion-content>
