<ion-header>
  <ion-toolbar>
    <ion-title>Exercises</ion-title>
    <ion-icon [routerLink]="['/']" size="large" name="arrow-back" slot="start"></ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-select interface="popover" (ionChange)=test()></ion-select> -->
  <ion-item *ngFor="let exercise of filteredExercises() | keyvalue" button (click)="test()">
    <ion-label>{{exercise.key}}</ion-label>
  </ion-item>
</ion-content>
