<ion-header>
  <ion-toolbar>
    <ion-title>Exercises</ion-title>
    <ion-icon [routerLink]="['/tabs/calendar']" size="large" name="arrow-back" slot="start"></ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filteredExercises()" (ionClear)="setStorage()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item *ngFor="let exercise of array" button (click)="test()">
    <ion-label>{{exercise}}</ion-label>
  </ion-item>
</ion-content>
