<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-card [title]="'Next Suggested Workout'" [subtitle]="'Arms'" [image]="'assets/images/arm.png'" [router]="'/workout'"></app-card>
  <app-card [title]="'Workout Log'" [subtitle]="''" [image]="''" [router]="['/workout']"></app-card>
  <ion-button [routerLink]="'/addworkout'">Add New Workout</ion-button>

</ion-content>
