<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
    <ion-icon [routerLink]="['/']" size="large" name="arrow-back" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>How was the difficulty?</h1>

  <ion-radio-group  [(ngModel)]="feedback">
    <ion-item>
        <ion-label>Increase the difficulty!</ion-label>
        <ion-radio mode="md" item-left value="1"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Keep it at this difficulty</ion-label>
        <ion-radio mode="md" item-left value="0"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Tone down the difficulty</ion-label>
        <ion-radio mode="md" item-left value="-1"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <h1>Did you like this exercise?</h1>
  <ion-radio-group  [(ngModel)]="exerciseFeedback">
    <ion-item>
        <ion-label>No</ion-label>
        <ion-radio mode="md" item-left value="-1"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Eh</ion-label>
        <ion-radio mode="md" item-left value="0"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio mode="md" item-left value="1"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-button expand="block" (click)="submit()" [routerLink]="['/']" color="success">
    <!-- TODO: add feedback page (also check heart rate) to adjust difficulty level later -->
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>
  <!-- <ion-icon size="large" name="thumbs-up"></ion-icon>
  <ion-icon size="large" name="thumbs-down"></ion-icon> -->
</ion-content>
