h1 {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 120px;
    background: url(../../../assets/images/dumbbells.jpg) bottom / cover no-repeat;
    color: white;
}

ion-content {
    text-align: center;
}