<ion-header>
  <ion-toolbar>
    <ion-title>Workout</ion-title>
    <ion-icon [routerLink]="['/']" size="large" name="arrow-back" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button [routerLink]="['/']">Back</ion-button> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>({{ date }}) Workout</ion-card-title>
    </ion-card-header>
  </ion-card>
  <iframe [src]="getSafeUrl(video)"></iframe>
  <h3>{{ name }}</h3>
  <p><b>Sets:</b> {{ this.sets }}</p>
  <p><b>Rest Interval:</b> {{ this.rest }} minutes</p>
  <p><b>Focus:</b> {{ type }}</p>
  <p *ngFor="let muscle of muscleGroup"><b>Muscle Groups:
    </b > {{ muscle }}</p>
  <!-- <h2>Duration: </h2> -->

  <div class="buttons">
    <ion-button (click)="this.markUncomplete()" [routerLink]="['/']" color="danger">
      <!-- TODO: when closing lower difficulty level -->
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button (click)="this.markComplete()" [routerLink]="['/feedback']" color="success">
      <!-- TODO: add feedback page (also check heart rate) to adjust difficulty level later -->
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>

</ion-content>
