<ion-header>
  <ion-toolbar>
    <ion-title>Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/']">Back</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Today's Workout</ion-card-title>
    </ion-card-header>
  </ion-card>
  <iframe src="https://www.youtube.com/embed/watch?v=7RXIWaY3wK0"></iframe>
  <h1>Title: </h1>
  <h2>Duration: </h2>

  <ion-button color="danger">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-button color="success">
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>
</ion-content>
