<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-icon name="person" size="large"></ion-icon>
<ion-content>
  <h1>{{ name }}</h1>
  <h2>Age: {{ age }}</h2>
  <h2>Weight: {{ weight }} lbs</h2>
  <h2>Height: {{ height }}</h2>
  <h2>Fitness Level: {{ fitnessLevel }}</h2>
  <h2>Calories Burned: 0</h2>
</ion-content>
</ion-content>
